.channels {
  min-width: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.filler {
  flex-grow: 1;
}

.channels > div {
  min-height: 60px;
  border: 0;
  background: #ddd;
  cursor: pointer;
}

.channels > div.selected {
  background: #efefef;
}

.channels > div:hover {
  background: #efefef;
}

.channels > div > button > div {
  overflow: hidden;
  text-overflow: ellipsis;
}
