.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.selectors {
  flex: 0 0 188px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: var(--dark3);
  padding: 2px 0 2px 8px;
  flex-grow: 1;
}

.filler {
  flex-grow: 1;
}

.selectbtn, .addbtn {
  margin: 2px 0;
  background: var(--dark3);
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--gray0);
  border: 0;
  flex: 0 0 30px;
  width: 180px;
}

.selectbtn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.selectbtn:hover, .addbtn:hover {
  background: var(--dark4);
}

.selectbtn.selected {
  background: var(--dark4);
}

.selectbtn > svg {
  margin-right: 2px;
}

.selectbtn > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.typeinput {
  margin-bottom: 10px;
}

.nameinput {
  margin-bottom: 10px;
}
