.channels {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: var(--dark3);
  padding: 2px 0 2px 8px;
}

.filler {
  flex-grow: 1;
}

.channels > button {
  width: 180px;
  display: flex;
  align-items: center;
  flex: 0 0 30px;
  border: 0;
  background: var(--dark3);
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--gray0);
  margin: 2px 0;
}

.channels > button:hover {
  background: var(--dark4);
}

.channels > button.selected {
  background: var(--dark4);
}

.channels > button > svg {
  margin-right: 2px;
}

.channels > button > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.typeinput {
  margin: 10px 0;
}
