.container {
  display: flex;
  flex-grow: 1;
}

.users {
  display: flex;
  flex: 0 0 80px;
  flex-direction: column;
  overflow: scroll;
  padding: 5px;
  background: var(--dark3);
}

.filler {
  flex-grow: 1;
  color: var(--gray0);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

.filler > h1 {
  margin-bottom: 2px;
}

.usernameinput {
  margin-bottom: 5px;
}

.users > div {
  margin: 5px;
  width: 60px;
  flex: 0 0 60px;
  border: 0;
  background: var(--dark1);
  border-radius: 30px;
  color: var(--gray0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.users > div:hover {
  background: var(--dark2);
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member > button {
  background: transparent;
  padding: 0;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray2);
  border: 0;
  margin-left: 2px;
}

.member > button:hover {
  color: var(--gray0);
}
