.container {
  display: flex;
}

.head {
  margin-top: 15px;
}

.head:first-of-type {
  margin-top: 0;
}

.gutter {
  width: 48px;
}

.gutter > img {
  border-radius: 50%;
  object-fit: cover;
}

.main {
  flex-grow: 1;
}

.header {
  display: inline-block;
  padding-bottom: 3px;
  color: var(--gray0);
  font-weight: bold;
}

.datetime {
  color: var(--gray2);
  font-size: 12px;
  font-weight: normal;
}

.content {
  position: relative;
  padding: 2px;
  border-radius: 5px;
  color: var(--gray0);
}

.content > span {
  display: flex;
  align-items: flex-end;
}

.content > button {
  border-radius: 5px;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background: transparent;
  border: 0;
  opacity: 0;
}

.content:hover {
  background: var(--dark3);
}

.content:hover > button {
  opacity: 1;
  align-items: center;
  justify-content: center;
  color: var(--gray0);
}

.content > button:hover {
  background: var(--dark2);
}

.content a {
  color: var(--blue0);
}

.content a:hover {
  color: var(--purple);
  text-decoration: underline!important;
}

.markdown * {
  margin: 0;
}

.markdown hr {
  border: 1px solid var(--gray0);
  width: 400px;
}

.edited {
  color: var(--gray2);
  font-size: 12px;
  margin-left: 3px;
}

.image {
  max-width: 400px;
  max-height: 300px;
}

.textinput {
  margin-bottom: 10px;
}

.checkbutton {
  margin-bottom: 10px;
}

.delbutton {
  margin: 10px auto 0 auto;
}
