.selected {
  box-shadow: 0 0 0 2px var(--dark3), 0 0 0 4px var(--gray0);
}

.container > img {
  border-radius: 50%;
  object-fit: cover;
}

.container > button {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--dark1);
  border-radius: 50%;
  border: 0;
  color: var(--gray0);
  width: 20px;
  height: 20px;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.container:hover > button {
  opacity: 1;
}

.container > button:hover {
  background: var(--dark4);
}
