.container {
  color: var(--gray0);
  text-align: center;
  padding: 10px;
}

.container > textarea {
  width: 100%;
  background: var(--dark4);
  border: 2px solid var(--dark2);
  color: var(--gray0);
}
