.container {
  padding: 10px;
  text-align: center;
}

.container > canvas {
  background: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > button {
  margin: 10px 5px;
}

.buttons > button.selected {
  color: #000;
}
