.container {
  color: var(--gray0);
  padding: 10px;
  text-align: center;
}

.descinput {
  margin: 10px 0;
}

.duecheck {
  margin-bottom: 10px;
  cursor: pointer;
}

.dateinput {
  margin-bottom: 10px;
  cursor: pointer;
}

.todocontainer {
  margin-bottom: 10px;
}

.addbtn {
  margin: 0 auto;
}
