.container {
  background: var(--dark1);
  padding: 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  line-height: normal;
}

.container > h1 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 32px;
}

.container > p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.container > button {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.container:hover > button {
  opacity: 1;
}

.container > hr {
  border: 1px solid var(--dark4);
  margin: 8px 0;
}

.timeleft > span {
  font-size: 12px;
  margin-right: 4px;
}

.overdue {
  color: red;
}

.descinput {
  margin: 10px 0;
}

.duecheck {
  margin: 0 0 15px 5px;
  cursor: pointer;
}

.dateinput {
  margin-bottom: 10px;
  cursor: pointer;
}

.delbutton {
  margin: 10px auto 0 auto;
}
