.container {
  background: var(--dark1);
  padding: 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
}

.container > h1 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container > p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.container > button {
  display: none;
}

.container:hover > button {
  display: inherit;
  position: absolute;
  top: 0;
  right: 0;
}

.container > hr {
  border: 1px solid var(--dark4);
}

.timeleft > span {
  font-size: 12px;
  margin-right: 4px;
}

.overdue {
  color: red;
}

.descinput {
  margin: 10px 0;
}

.duecheck {
  margin-bottom: 10px;
  cursor: pointer;
}

.dateinput {
  margin-bottom: 10px;
  cursor: pointer;
}

.delbutton {
  margin-top: 10px;
}
