.container {
  flex: 0 0 300px;
  background: var(--dark3);
  color: var(--gray0);
  overflow: scroll;
}

.container > div > h1 {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.container > div > h1 > svg {
  margin-right: 2px;
}

.container > div > h1 > span {
  overflow: hidden;
  text-overflow: ellipsis;
}
