.container {
  min-height: 100%;
  height: 100%;
}

.groups {
  min-width: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.page {
  display: flex;
  height: calc(100% - 60px);
}

.groups > button {
  min-height: 60px;
  border: 0;
  background: #ddd;
}

.groups > button:hover {
  background: #efefef;
}

.groups > button.selected {
  background: #efefef;
}

.groups > button > div {
  overflow: hidden;
  text-overflow: ellipsis;
}
