.container {
  min-height: 100%;
  height: 100%;
}

.page {
  display: flex;
  height: calc(100% - 60px);
}

.groups {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin: 5px;
}

.groups > button {
  flex: 0 0 60px;
  width: 60px;
  border: 0;
  background: #ddd;
  margin: 5px;
}

.groups > button:hover {
  background: #efefef;
}

.groups > button.selected {
  background: #efefef;
}

.groups > button > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.filler {
  flex-grow: 1;
}
