.container {
  min-height: 100%;
  height: 100%;
  background: var(--dark4);
  width: fit-content;
  min-width: 100%;
}

.page {
  display: flex;
  height: calc(100% - 60px);
}

.groups {
  flex: 0 0 70px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 10px 0 10px 10px;
  background: var(--dark0);
}

.groups > button {
  flex: 0 0 60px;
  width: 60px;
  border: 0;
  background: var(--dark1);
  color: var(--gray0);
  margin: 5px 0;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.groups > button:hover {
  background: var(--dark2);
}

.groups > button.selected {
  background: var(--dark3);
}

.groups > button > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.filler {
  flex-grow: 1;
}

.nameinput {
  margin-bottom: 10px;
}
