.container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center {
  max-width: 500px;
  margin: 40px;
  background: var(--dark1);
  color: var(--gray0);
  padding: 20px 40px;
  border-radius: 10px;
}

.links {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.links > a {
  color: var(--gray0);
  margin-left: 5px;
  transition: 0s;
}

.links > a:hover {
  color: var(--blue0);
}

.center > p {
  margin: 0;
  line-height: 22px;
}

.center > hr {
  margin: 15px 0;
}

.title > div {
  margin-left: 10px!important;
}

.center > a {
  margin-right: 10px;
}

.iconlist {
  margin: 10px;
}

.carousel {
  flex: 0 0 500px;
}

.githublink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.githublink > svg {
  margin-right: 4px;
}

.biglink {
  background: var(--blue0);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  color: var(--gray0);
  font-weight: bold;
}

.biglink:hover {
  background: var(--blue1);
  color: var(--gray0);
}
