.container {
  min-height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.copyright {
  color: var(--gray0);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 16px;
}

.copyright a {
  color: var(--gray0)!important;
}

.copyright a:hover {
  text-decoration: underline!important;
}

.links {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.links > a {
  color: var(--gray0);
  margin-left: 5px;
  transition: 0s;
}

.links > a:hover {
  color: var(--blue);
}

.links > a:first-of-type > svg {
  padding: 4px;
}

.center {
  width: 820px;
  margin: 40px 40px 60px 40px;
  background: var(--dark1);
  color: var(--gray0);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px #111;
  display: flex;
}

.center .overview {
  padding: 20px 40px;
}

.center .overview > p {
  display: flex;
}

.center .overview > p > svg {
  margin-right: 5px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  margin-bottom: 15px;
}

.title > div {
  margin-right: 10px!important;
  flex-shrink: 0;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center .bottom {
  background: var(--dark0);
  overflow: auto;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel {
  flex: 0 0 500px;
  display: flex;
  flex-direction: column;
}

.githublink {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 5px auto;
}

.githublink > svg {
  margin-right: 4px;
}

.biglink {
  background: var(--blue);
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10px;
  color: var(--gray0);
  font-weight: bold;
  transition: 0.25s;
}

.biglink:hover {
  color: var(--gray0);
  transform: scale(1.1);
}

@media (max-width: 900px) {
  .center {
    flex-direction: column;
  }
  .carousel {
    flex: 0 0 0;
  }
  .center .overview > p {
    justify-content: center;
  }
}
