.container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  max-width: 600px;
  margin: 40px;
  background: #efefef;
  padding: 20px 40px;
  background: var(--dark1);
  color: var(--gray0);
  border-radius: 10px;
  text-align: center;
}

.center > h1 {
  margin: 0;
}

.center > form {
  display: flex;
  flex-direction: column;
  width: 154px;
  margin: 0 auto;
}

.center label {
  text-align: left;
  margin-top: 10px;
}

.center > form > button {
  margin: 10px auto;
}
