.container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  max-width: 600px;
  margin: 40px;
  background: #efefef;
  padding: 20px;
}

.center > h1 {
  margin: 0;
}

.center > form {
  display: flex;
  flex-direction: column;
}

.center > form > label {
  margin-top: 10px;
}

.center > form > button {
  width: fit-content;
  margin: 10px auto;
  padding: 5px 10px;
}
