.container {
  display: flex;
  align-items: center;
  background: var(--dark0);
  color: var(--gray0);
  height: 60px;
}

.container > h1 {
  margin: 0 0 0 10px;
  font-weight: 800;
  font-size: 36px;
}

.logo {
  margin-left: 10px;
  display: flex;
  flex: 0 0 48px;
}

.flexfill {
  flex-grow: 1;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.avatar * {
  border-radius: 50%;
}

.username {
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.container > button {
  margin-right: 20px;
}
