.container {
  display: flex;
  align-items: center;
  background: var(--dark0);
  color: var(--gray0);
  height: 60px;
}

.container > h1 {
  margin: 0 0 0 10px;
  font-weight: 800;
}

.container > div {
  margin-left: 10px!important;
}

.flexfill {
  flex-grow: 1;
}

.container > a {
  margin-right: 20px;
}

.container > p {
  margin: 0 10px 0 0;
}

.container > button {
  margin-right: 20px;
}

.username {
  font-weight: bold;
}
