* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none!important;
}

.blueurl {
  color: var(--blue1);
  text-decoration: none;
}

.blueurl:hover {
  color: var(--blue0);
  text-decoration: underline!important;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

select {
  background: var(--dark3);
  color: var(--gray0);
  border: 2px solid var(--dark2);
  border-radius: 2px;
}

hr {
  opacity: 1!important;
}

.muimodal {
  text-align: center;
  background: var(--dark4);
  max-width: 400px;
  overflow: hidden;
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--dark0);
  border-radius: 10px;
  padding: 20px 40px;
  color: var(--gray0);
}

.muimodal h1 {
  margin: 0 0 10px 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.muimodal h1 > svg {
  font-size: 32px;
  margin-left: 8px;
}

.muimodal h1 > span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.muimodal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconbutton, .iconbutton2, .iconbutton3 {
  padding: 3px;
  color: var(--gray0);
  border: 0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconbutton {
  background: var(--dark4);
}

.iconbutton2 {
  background: var(--dark2);
}

.iconbutton3 {
  background: var(--dark1);
}

.iconbutton:hover {
  background: var(--dark3);
}

.iconbutton2:hover {
  background: var(--dark3);
}

.iconbutton3:hover {
  background: var(--dark2);
}

.bluebutton {
  background: var(--blue0);
  padding: 10px 20px;
  color: var(--gray0);
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.25s;
}

.bluebutton:hover {
  transform: scale(1.1);
}

.darkinput {
  background: var(--dark3);
  border: 2px solid var(--dark2);
  border-radius: 2px;
  color: var(--gray0);
}

.input-button {
  display: flex;
  align-items: center;
}

.input-button > button {
  margin-left: 5px;
}

.page-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-center {
  max-width: 600px;
  margin: 40px;
  background: #efefef;
  padding: 20px 40px;
  background: var(--dark1);
  color: var(--gray0);
  border-radius: 10px;
  text-align: center;
}

.page-center > h1 {
  margin: 0;
}

.page-center > form {
  display: flex;
  flex-direction: column;
  width: 154px;
  margin: 0 auto;
}

.page-center label {
  text-align: left;
  margin-top: 10px;
}

.page-center > form > button {
  margin: 10px auto;
}

.carousel-caption {
  position: static!important;
  padding: 15px 20px 25px 20px!important;
}

.carousel-indicators {
  margin-bottom: 10px!important;
}

:root {
  --dark0: #202225;
  --dark1: #282a2e;
  --dark2: #2f3136;
  --dark3: #36393f;
  --dark4: #40444B;

  --gray0: #dcddde;
  --gray1: #b9bbbe;
  --gray2: #71777d;

  --blue0: #2196f3;
  --blue1: #2176ff;

  --red0: #bb0000;
  --red1: #ff0000;
}
