.container > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
}

.container > button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  width: 24px;
  height: 24px;
  color: var(--gray0);
  background: transparent;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 12px;
  opacity: 0;
}

.container:hover > button {
  opacity: 1;
}

.container > button:hover {
  background: var(--dark0);
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member > button {
  background: transparent;
  padding: 0;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkgray);
  border: 0;
  margin-left: 2px;
}

.member > button:hover {
  color: var(--gray0);
}

.select {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.select > button {
  margin: 0 5px;
}

.select > button.selected {
  background: var(--dark0);
}

.usernameinput {
  margin: 10px 0;
}
