.container > div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container > button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  width: 24px;
  height: 24px;
  color: var(--gray0);
  background: transparent;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 12px;
}

.container:hover > button {
  display: flex;
}

.container > button:hover {
  background: var(--dark0);
}

.nameinput {
  margin-bottom: 10px;
}

.delbutton {
  margin-top: 10px;
}

.select {
  margin-bottom: 10px;
}

.select > button {
  margin: 0 5px;
}

.select > button.selected {
  background: var(--dark0);
}

.usernameinput {
  margin: 10px 0;
}
